// Tipografía 
$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

// Colores

// Tamaños de pantalla
$phone: 480px; 
$tablet: 748px; 
$large-tablet: 860px; 
$desktop: 992px; 
$large-desktop: 1200px; 